Heroes Of Pymoli Challange

Part 1: I need to import dependencies

In [40]:
#Import dependencies 
import pandas as pd
import numpy as np

Part 2: I need to Reference the file and import the data to pandas.

In [41]:
# Reference the file where the CSV is located
HeroesOfPymoli_csv_path = "Resources/purchase_data.csv"
# Import the data into a Pandas DataFrame
df = pd.read_csv(HeroesOfPymoli_csv_path)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

Part 3: Initialy check if there are duplicated values in the set. I saw that there are duplicated values so I needed to count the unique total amount of players in the data set. I used the nunique function and saved it in the varibale uni_values_df

In [42]:
#As I have been manipulating the df I need to load my inital df again
df = pd.read_csv(HeroesOfPymoli_csv_path)
df
#Initial check for fuplicated values
df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [43]:
#Since there are duplicated values I created a new variable and stored only unique values
uni_values_df = df.drop_duplicates(subset='SN')
uni_values_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [44]:
#I reviwed the new amounts to check the values were dropped. Initial value = 780 after dropping duplicates = 576
uni_values_df.count()

Purchase ID    576
SN             576
Age            576
Gender         576
Item ID        576
Item Name      576
Price          576
dtype: int64

Part 4: After getting the unique values I displayed the total amount of players in a dataframe called Total_Players_df

In [45]:
#On supervision on March 8 2021, with Tren Littel (my tutor) we reviwed the the statement .DataFrame and the used for it.
Total_Players_df = pd.DataFrame([{"Total Players": df["SN"].nunique()}])
Total_Players_df

   Total Players
0            576

Part 5: Purchasing Analysis (Total)

The following challanges needed to be accomplished:
    1. Run basic calculations to obtain number of unique items, average price, etc.
    2. Create a summary data frame to hold the results
    3. Optional: give the displayed data cleaner formatting
    4. Display the summary data frame

In [46]:
# I created varibales to hold the values to later create the summary table with them. I needed to go back and look at the decimal places that were used in the solution. To be able to match the solution format I decided to use the method round()
ItemCount = df["Item Name"].nunique()
AveragePrice = round(df["Price"].mean(),2)
PurchasedNumber = df["Purchase ID"].count()
Revenue = round(df["Price"].sum(),2)

#After I created the variables I need to store them in a summary table like so:
SummaryTable_df = pd.DataFrame([{"Number of Unique Items": ItemCount, "Average Price": AveragePrice, "Number of Purchases": PurchasedNumber, "Total Revenue": Revenue}])
SummaryTable_df.loc[:, "Total Revenue"] = SummaryTable_df["Total Revenue"].map(lambda x: '$' + str(x))
SummaryTable_df.loc[:, "Average Price"] = SummaryTable_df["Average Price"].map(lambda x: '$' + str(x))
SummaryTable_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [20]:
# I need to change the value from 2379.77 to $2,397.77 for the Total revenue and for the column 'Price' I changed it as well to display $
#First I will look at the type of total revenue
type(SummaryTable['Total Revenue'])
# Found its  a series. So for this I asked a question on stack over flow to get guidance on the way to modify the values from a df.User ashkangh helped me understand how to do this. Here is the link to the question I asked in Stackover flow :https://stackoverflow.com/questions/66552939/using-pandas-in-jupyer-lab-how-can-i-modify-the-value-of-a-column-in-a-data-fram/66553022?noredirect=1#comment117652439_66553022

pandas.core.series.Series

Part 6: I created a summary table for gender output that displayed the following:
    1. Percentage and Count of Male Players
    2. Percentage and Count of Female Players
    3. Percentage and Count of Other / Non-Disclosed

In [60]:
# I initially needed to find the unique value of each 'Gender' 
GenderCount = uni_values_df["Gender"].value_counts()
#Print(GenderCount) to check values are unique and total of values
#Create a new variable GenderPercent and store values form df
GenderPercentage = GenderCount/uni_values_df['Gender'].count()*100
#I then identyfied the percentage of total players for the 3 types of gender offered
GenderAnalysis_df = pd.DataFrame({"Total Count": GenderCount, "Percentage of Players": GenderPercentage.map("{:.2f}%".format)})
GenderAnalysis_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Part 7: Purchasing Analysis (Gender)

For this portion of the assignment I had to accomplish the following:
    1. Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
    2. Create a summary data frame to hold the results
    3. Optional: give the displayed data cleaner formatting
    4. Display the summary data frame

In [ ]:
# using the Groupby method I grouped the purchase data togheter by gender 
GroupedGenders = df.groupby(['Gender'])

In [57]:
#I identifyed the number of purchases made by each gender
PurchaseCount = GroupedGenders['Price'].count()
#######AveragePrice = round(df["Price"].mean(),2)
# Then I found the mean amount spend by each gender
MeanPurchaseGender = GroupedGenders['Price']. mean()

# Then I found the toal amount spent by each gender
TotalAmountGender = round(GroupedGenders['Price'].sum(),2)

#The I found the average spent per individual from each gender
AveragePersonSpentGender = round(TotalAmountGender/GroupedGenders['SN'].nunique(),2)

In [58]:
#I created the summary table fot the Purchansing Analysis
Purchansing_Analysis_Gender_df = pd.DataFrame({"Purchase Count": PurchaseCount, "Average Purchase Price": AveragePrice, "Total Purchase Value": TotalAmountGender, "Avg Total Purchase per Person": AveragePersonSpentGender})
Purchansing_Analysis_Gender_df.loc[:, "Average Purchase Price"] = Purchansing_Analysis_Gender_df["Average Purchase Price"].map(lambda x: '$' + str(x))
Purchansing_Analysis_Gender_df.loc[:, "Total Purchase Value"] = Purchansing_Analysis_Gender_df["Total Purchase Value"].map(lambda x: '$' + str(x))
Purchansing_Analysis_Gender_df.loc[:, "Avg Total Purchase per Person"] = Purchansing_Analysis_Gender_df["Avg Total Purchase per Person"].map(lambda x: '$' + str(x))
Purchansing_Analysis_Gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.05,$361.94,$4.47
Male,652,$3.05,$1967.64,$4.07
Other / Non-Disclosed,15,$3.05,$50.19,$4.56