Heroes Of Pymoli Challange

Part 1: I need to import dependencies

In [1]:
#Import dependencies 
import pandas as pd
import numpy as np

Part 2: I need to Reference the file and import the data to pandas.

In [2]:
# Reference the file where the CSV is located
HeroesOfPymoli_csv_path = "Resources/purchase_data.csv"
# Import the data into a Pandas DataFrame
df = pd.read_csv(HeroesOfPymoli_csv_path)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

Part 3: Initialy check if there are duplicated values in the set. I saw that there are duplicated values so I needed to count the unique total amount of players in the data set. I used the nunique function and saved it in the varibale uni_values_df

In [3]:
#As I have been manipulating the df I need to load my inital df again
df = pd.read_csv(HeroesOfPymoli_csv_path)
df
#Initial check for fuplicated values
df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [4]:
#Since there are duplicated values I created a new variable and stored only unique values
uni_values_df = df.drop_duplicates(subset='SN')
uni_values_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [5]:
#I reviwed the new amounts to check the values were dropped. Initial value = 780 after dropping duplicates = 576
uni_values_df.count()

Purchase ID    576
SN             576
Age            576
Gender         576
Item ID        576
Item Name      576
Price          576
dtype: int64

Part 4: After getting the unique values I displayed the total amount of players in a dataframe called Total_Players_df

In [6]:
#On supervision on March 8 2021, with Tren Littel (my tutor) we reviwed the the statement .DataFrame and the used for it.
Total_Players_df = pd.DataFrame([{"Total Players": df["SN"].nunique()}])
Total_Players_df

   Total Players
0            576

Part 5: Purchasing Analysis (Total)

The following challanges needed to be accomplished:
    1. Run basic calculations to obtain number of unique items, average price, etc.
    2. Create a summary data frame to hold the results
    3. Optional: give the displayed data cleaner formatting
    4. Display the summary data frame

In [7]:
# I created varibales to hold the values to later create the summary table with them. I needed to go back and look at the decimal places that were used in the solution. To be able to match the solution format I decided to use the method round()
ItemCount = df["Item Name"].nunique()
AveragePrice = round(df["Price"].mean(),2)
PurchasedNumber = df["Purchase ID"].count()
Revenue = round(df["Price"].sum(),2)

#After I created the variables I need to store them in a summary table like so:
SummaryTable_df = pd.DataFrame([{"Number of Unique Items": ItemCount, "Average Price": AveragePrice, "Number of Purchases": PurchasedNumber, "Total Revenue": Revenue}])
SummaryTable_df.loc[:, "Total Revenue"] = SummaryTable_df["Total Revenue"].map(lambda x: '$' + str(x))
SummaryTable_df.loc[:, "Average Price"] = SummaryTable_df["Average Price"].map(lambda x: '$' + str(x))
SummaryTable_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [8]:
# I need to change the value from 2379.77 to $2,397.77 for the Total revenue and for the column 'Price' I changed it as well to display $
#First I will look at the type of total revenue
type(SummaryTable_df['Total Revenue'])
# Found its  a series. So for this I asked a question on stack over flow to get guidance on the way to modify the values from a df.User ashkangh helped me understand how to do this. Here is the link to the question I asked in Stackover flow :https://stackoverflow.com/questions/66552939/using-pandas-in-jupyer-lab-how-can-i-modify-the-value-of-a-column-in-a-data-fram/66553022?noredirect=1#comment117652439_66553022

pandas.core.series.Series

Part 6: I created a summary table for gender output that displayed the following:
    1. Percentage and Count of Male Players
    2. Percentage and Count of Female Players
    3. Percentage and Count of Other / Non-Disclosed

In [9]:
# I initially needed to find the unique value of each 'Gender' 
GenderCount = uni_values_df["Gender"].value_counts()
#Print(GenderCount) to check values are unique and total of values
#Create a new variable GenderPercent and store values form df
GenderPercentage = GenderCount/uni_values_df['Gender'].count()*100
#I then identyfied the percentage of total players for the 3 types of gender offered
GenderAnalysis_df = pd.DataFrame({"Total Count": GenderCount, "Percentage of Players": GenderPercentage.map("{:.2f}%".format)})
GenderAnalysis_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Part 7: Purchasing Analysis (Gender)

For this portion of the assignment I had to accomplish the following:
    1. Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
    2. Create a summary data frame to hold the results
    3. Optional: give the displayed data cleaner formatting
    4. Display the summary data frame

In [10]:
# using the Groupby method I grouped the purchase data togheter by gender 
GroupedGenders = df.groupby(['Gender'])

In [11]:
#I identifyed the number of purchases made by each gender
PurchaseCount = GroupedGenders['Price'].count()
#######AveragePrice = round(df["Price"].mean(),2)
# Then I found the mean amount spend by each gender
MeanPurchaseGender = GroupedGenders['Price']. mean()

# Then I found the toal amount spent by each gender
TotalAmountGender = round(GroupedGenders['Price'].sum(),2)

#The I found the average spent per individual from each gender
AveragePersonSpentGender = round(TotalAmountGender/GroupedGenders['SN'].nunique(),2)

In [12]:
#I created the summary table fot the Purchansing Analysis
Purchansing_Analysis_Gender_df = pd.DataFrame({"Purchase Count": PurchaseCount, "Average Purchase Price": AveragePrice, "Total Purchase Value": TotalAmountGender, "Avg Total Purchase per Person": AveragePersonSpentGender})
Purchansing_Analysis_Gender_df.loc[:, "Average Purchase Price"] = Purchansing_Analysis_Gender_df["Average Purchase Price"].map(lambda x: '$' + str(x))
Purchansing_Analysis_Gender_df.loc[:, "Total Purchase Value"] = Purchansing_Analysis_Gender_df["Total Purchase Value"].map(lambda x: '$' + str(x))
Purchansing_Analysis_Gender_df.loc[:, "Avg Total Purchase per Person"] = Purchansing_Analysis_Gender_df["Avg Total Purchase per Person"].map(lambda x: '$' + str(x))
Purchansing_Analysis_Gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.05,$361.94,$4.47
Male,652,$3.05,$1967.64,$4.07
Other / Non-Disclosed,15,$3.05,$50.19,$4.56

Part 8: Age demographics

For this portion of the homework I had to accomplish the following tasks:
    1.Establish bins for ages
    2.Categorize the existing players using the age bins. Hint: use pd.cut()
    3.Calculate the numbers and percentages by age group
    4.Create a summary data frame to hold the results
    5.Optional: round the percentage column to two decimal points
    6.Display Age Demographics Table

In [13]:
# I created a variable that would store the highest value of 'age'
HighestAge = df['Age'].max()
#Printed statment to see code run: print(HighestAge)
# I than set the bins and Labels every 4 years 
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,HighestAge]
labels = ['<10', '10-14','15-19','20-24','25-29','30-34','35-39','40+']

#Using the 'cut' method I created the bins column in the data frame
df['age_bins']=pd.cut(x=df['Age'], bins=bins)

#Using the 'cut' method I created the label columns in the data frame
df['age_labels'] = pd.cut(x=df['Age'], bins=bins, labels=labels) #I took a long time debugging this portion of the code thanks to a spelling mistake of labels!!

#Store the updated df in the unique users df
uni_values_df = df.drop_duplicates(subset='SN')

In [14]:
#I proceeded to count te unique users for each age range
AgeCounts= uni_values_df["age_labels"].value_counts()

#Then I calculated the percentage of all unique users for each age range
AgePercentage = AgeCounts/uni_values_df['SN'].count()*100

In [15]:
#I created the summary table to showcase the age demographics analysis as follows:
AgeDemographics_df = pd.DataFrame({"Total Count": AgeCounts, "Percentage of Players": AgePercentage.map("{:.2f}%".format)})

#I sorted the table by the index value using sort_index() method
AgeDemographics_df.sort_index() #I guided myself with a linked in course called Pandas Essential Trainig by Jonathan Fernandes. Teh specific section of the video was 6.Indexing and the Using sort_index()

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

Part 9: Purchasing Analysis (AGE)

For this portion of the challange I had to achive the following tasks:
    1. Bin the purchase_data data frame by age
    2. Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
    3. Create a summary data frame to hold the results
    4. Optional: give the displayed data cleaner formatting
    5. Display the summary data frame

In [16]:
#I created a variable that grouped by age_labels from the df
GroupedAges = df.groupby(["age_labels"])

In [17]:
#I created a variable with the unique values that grouped by age_labels from the df
UniGroupedAges = uni_values_df.groupby(["age_labels"])

In [18]:
#I found the number of purchases made by each age group. I need to be able to do it by group not in general
AgePurchaseCount = GroupedAges["Purchase ID"].count()

#Then found the average amount spent by each age group
AgeAvgPurchases= GroupedAges["Price"].mean()

#Then I found the total amount spent by each age group
AgeTotalPurchases= GroupedAges['Price'].sum()

#Then find amount spent by each unique user of each age group
AgeAvgPerAgeGroup = AgeTotalPurchases/UniGroupedAges["SN"].nunique()

In [19]:
#I created the Data Frame for the summary data on gender data
#AgeAnalysis_df = pd.DataFrame({"Purchase Count": AgePurchaseCount, "Average Purchase Price": AgeAvgPurchases.map("${:.2f}".format), "Total Purchase Value": AgeTotalPurchases.map("${:,.2f}".format, "Avg Total Purchase per Person": AgeAvgPerAgeGroup.map("${:.2f}".format))
#AgeAnalysis_df      
AgeAnalysis_df = pd.DataFrame({"Purchase Count": AgePurchaseCount, "Average Purchase Price": AgeAvgPurchases.map("${:.2f}".format), "Total Purhase Value": AgeTotalPurchases.map("${:,.2f}".format), "Avg Total Purchase per Person": AgeAvgPerAgeGroup.map("${:.2f}".format)})
AgeAnalysis_df

,Purchase Count,Average Purchase Price,Total Purhase Value,Avg Total Purchase per Person
age_labels,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

Part 10: Top Spenders 

For this part I faced the following challanges: 
    1.Run basic calculations to obtain the results in the table below
    2.Create a summary data frame to hold the results
    3.Sort the total purchase value column in descending order
    4.Optional: give the displayed data cleaner formatting
    5.Display a preview of the summary data frame

In [20]:
#Create a spenders variable that will hold the group y df("SN")
Spender = df.groupby("SN")

#I counted the total purchases per name (Purchase ID)
PurchaseCount = Spender["Purchase ID"].count()

#I than got the mean by name
AvgPurchasePriceSpender = Spender["Price"].mean()

#Then I got the total of the purchases by name
PurchaseTotalSpender = Spender["Price"].sum()

In [21]:
#Then I created the summary table Data Frame for spender
TopSpenders = pd.DataFrame({"Purchase Count": PurchaseCount, "Average Purchase Price": AvgPurchasePriceSpender, "Total Purchase Value": PurchaseTotalSpender})

#Sorted in Ascending False (Descending order)
NewTopSpenders = TopSpenders.sort_values(['Total Purchase Value'], ascending=False).head()

#Formating Average Purchase Total
NewTopSpenders.style.format({"Total Purchase Value":"${:,.2f}", "Average Purchase Price":"${:,.2f}", "Total Purchases Value":"${:,.2f}"})

Part 11: Most Popular Items

For this portion of the excercise I had to focuse to get the following challanges solved:

    1. Retrieve the Item ID, Item Name, and Item Price columns
    2. Group by Item ID and Item Name. Perform calculations to   obtain purchase count, average item price, and total purchase value
    3. Create a summary data frame to hold the results
    4. Sort the purchase count column in descending order
    5. Optional: give the displayed data cleaner formatting
    6. Display a preview of the summary data frame

In [24]:
#From the df I retrived the item ID, item name and item price
PopularItems = df[['Item ID',"Item Name","Price"]]
PopularItems

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [25]:
#I then grouped by Item ID and Item Name. I did this to check if I was able to use the function properly. 
PopularItemsStats = PopularItems.groupby(['Item ID','Item Name'])
PopularItemStatsCount = PopularItemsStats['Price'].count()
PopularItemStatsCount

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [26]:
#I needed to create a data frame with the summary of the infomration
PopularItems = df[['Item ID',"Item Name","Price"]]

#Group the items by item id and name
PopularItemsStats = PopularItems.groupby(['Item ID','Item Name'])

#count how mny times an item has been sold
PopularItemStatsCount = PopularItemsStats['Price'].count()

#Then I calculated the purchase vlaue per item
PopularItemPurchaseValue = (PopularItemsStats['Price'].sum())

#Then I was able to find the individual item price
PopularItemPrice = PopularItemPurchaseValue/PopularItemStatsCount

In [28]:
#I created the data frame with the values obtained previousley
MostPopularItems_df = pd.DataFrame({"Purchase Count": PopularItemStatsCount, 
                                   "Item Price": PopularItemPrice.map("${:.2f}".format),
                                   "Total Purchase Value": PopularItemPurchaseValue.map("${:.2f}".format) })
MostPopularItems_df.sort_values(['Purchase Count'], ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77